@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* CSS FOR NAVBAR START*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e4e4eb;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    color: white;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
    user-select: none;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: aqua;
    font-size: 1.2rem;
}

.navbar-links li a:hover {
    color: black;
    font-weight: 600;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* CSS FOR NAVBAR ENDS */


/* CSS FOR MAIN PAGE START*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
    flex-direction: column;
    margin: 2%;
}

.container {
    background-color: aqua;
    height: 25rem;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5%;
}

.question h2 {
    font-size: 2rem;
}

.options {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top:12%;
}

.opt {
    min-height: 50px;
    max-height: 80px;
}

.btn {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.next {
    padding: 1.2%;
}

.next:hover {
    background-color: #a47acb;
}

.opt:hover {
    background-color: #5e5ee1;
    color: white;
}

/* CSS FOR MAIN PAGE END*/


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    /* CSS FOR NAVBAR ENDS */

    /* CSS FOR MAIN PAGE START */

    .question h2 {
        font-size: 1.5rem;
    }

   
    

    /* CSS FOR MAIN PAGE END */
    
}